<ion-header>
    <ion-avatar>
        <img
          src="https://cdn1.iconfinder.com/data/icons/avatars-55/100/avatar_profile_user_music_headphones_shirt_cool-512.png">
      </ion-avatar>
      <ion-title>
        Hi, I'm Miki
      </ion-title>
      <p>Joined in 2017</p>
      <p>
        <ion-icon name="text"></ion-icon>
        2 Reviews
      </p>
      <p><ion-icon name="book"></ion-icon>5 Bookings Made</p>
</ion-header>
<ion-content>
  <section>
      <h1>About</h1>
      <p><ion-icon name="home"></ion-icon> Lives in Cape Town, South Africa</p>
      <p><ion-icon name="logo-facebook"></ion-icon> Account Connected</p>
  </section>
  <section>
    <h2>Miki Provided</h2>
    <p><ion-icon name="checkmark-circle"></ion-icon> Email Address   <ion-icon name="checkmark-circle"></ion-icon> Phone number</p>
  </section>
</ion-content>
